<h1>Items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
  </tr>
  <% items.each do |item|%>
  <tr>
    <td><%= item.name%></td>
    <td><%= item.price%></td>  
    <td><%= item.category.name%></td>
    <td><a href="/items/detail">Show</a></td>
    <td><a href="/items/edit">Edit</a></td>
    <td>
        <form method="post" action="/items/delete/<%=item.id %>">
          <button type="submit">Delete</button>
        </form>
    </td>
  </tr>
  <% end %>
  <a href="/items/new">New Item</a>
</table>